{% extends 'base.html' %}

{% block content %}
    {{ form.media }}

    <h1>Add an event</h1>
    <form id="add_event" method="post" action="/client/{{ client.client_slug }}/add_event/">
    {% if form.errors.invalid_entry %}
    <div class="alert alert-danger">{{ form.errors.invalid_entry}}</div>
    {% else %}
    {% endif %}


        {% csrf_token %}
{#        {% for hidden in form.hidden_fields %}#}
{#            {{ hidden }}#}
{#        {% endfor %}#}
{##}
{##}
{#        {% for field in form.visible_fields %}#}
{#            {{ field.errors }}#}
{#            {{ field.help_text }}#}
{#            {{ field }}#}
{#        {% endfor %}#}

        <div class="container">
    <div class='col-md-5'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker6'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class='col-md-5'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker7'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker6').datetimepicker();
        $('#datetimepicker7').datetimepicker();
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>


        <input type="submit" name="submit" value="Submit Event">

    </form>




{% endblock %}