{% extends 'base.html' %}

{% block content %}
    {{ form.media }}



    <h1>Add a time that you're available</h1>
    <form id="add_time" method="post" action="/teacher/{{ teacher.slug }}/add_time/">
    {% if form.errors.invalid_entry %}
    <div class="alert alert-danger">{{ form.errors.invalid_entry}}</div>
    {% else %}
    {% endif %}


        {% csrf_token %}
{#        {% for hidden in form.hidden_fields %}#}
{#            {{ hidden }}#}
{#        {% endfor %}#}
{##}
{##}
{#        {% for field in form.visible_fields %}#}
{#            {{ field.errors }}#}
{#        {% endfor %}#}

        {{ form.as_p }}


        <input type="submit" name="submit" value="Submit Event">

    </form>




{% endblock %}