{% extends 'base.html' %}

{% block content %}

    <h1>Add an event</h1>
    <form id="add_event" method="post" action="/client/{{ client.client_slug }}/add_event/">

        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.error }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}
        <input type="submit" name="submit" value="Submit Event">

    </form>





{% endblock %}