{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Extra Hands Service | Qualified Teachers & Substitutes</title>

</head>
<body>
{#    {% bootstrap_messages %}#}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>Hey there!</h1>
                    <p>
                        {{ thing }}
                    </p>
                </div>
            </div>
        </div>
    </div>


</body>
</html>