<!DOCTYPE html>

{% load staticfiles %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Extra Hands Service | {% block title %}Qualified Teachers & Substitutes{% endblock %}</title>
    {#    CSS#}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

{#    Theme sheets#}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet">

    {#Javascript#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/ajax.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.9.2.custom.min.js' %}"></script>
    <script src="{% static 'js/jquery.ui.touch-punch.min.js' %}"></script>
    <script src="{% static 'js/jquery.dcjqaccordion.2.7.js' %}"></script>
    <script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.js' %}"></script>

      <!--common script for all pages-->
    <script src="{% static 'js/common-scripts.js' %}"></script>


    <script>
        $(function (){
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>


</head>
<body>
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
        <section id="container">
            <header class="header black-bg">
                  <div class="sidebar-toggle-box">

                  </div>
                <!--logo start-->
                <a href="{% url 'index' %}" class="logo"><b>EXTRA HANDS</b></a>
                <!--logo end-->
                <div class="nav notify-row" id="top_menu">

                </div>
                <div class="top-menu">
                    <ul class="nav pull-right top-menu">
                    {% if user.is_authenticated %}
                        <p class="navbar-text">Signed in as <a href="{% url 'myaccount' %}"><strong>{{ user.get_full_name }}</strong></a>&nbsp;
                        <a href="{% url 'logout' %}"><kbd>Logout</kbd></a></p>
                    {% else %}
                        <form class="navbar-form navbar-right" method="post" action="/login/">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="sr-only" for="username">Username</label>
                                <input type="text" class="form-control" id="username" placeholder="Enter email" name="username">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                            </div>
                            <button type="submit" class="btn btn-info">Sign in</button>
                        </form>

                {% endif %}
                </ul>
                </div>
            </header>
        </section>

      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
                  {% if user.is_authenticated %}
              	  <p class="centered"><a href="profile.html"><img src="http://tinygraphs.com/isogrids/helloworld" class="img-circle" width="60"></a></p>
              	  <h5 class="centered">{{ user.get_full_name }}</h5>

                  <li class="mt">
                      <a href="{% url 'myaccount' %}">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>
                  {% endif %}

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-desktop"></i>
                          <span>UI Elements</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="general.html">General</a></li>
                          <li><a  href="buttons.html">Buttons</a></li>
                          <li><a  href="panels.html">Panels</a></li>
                      </ul>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper site-min-height">
          <br>
          	{% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                         {{ message }}
                    </div>
                {% endfor %}
            {% else %}
            {% endif %}
          	<div class="row mt">
          		<div class="col-lg-12">

                    {% block content %}
                        <p>
                        This is the home page
                        <br>

                        Current User:
                        {{ user.get_full_name }}
                        </p>
                    {% endblock %}

          		</div>
          	</div>

		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->



        <!-- js placed at the end of the document so the pages load faster -->




</body>
</html>