{% extends 'base.html' %}

{% block content %}

    <strong>{{ client.organization }}</strong><br>
    Contact: {{ client.user.get_full_name }}
    {{ client.street }}<br>
    {{ client.city }}, {{ client.state }} <br>
    {{ client.phone_number }}<br><br>
    <i>Description</i><br>
    <p>{{ client.description }}</p>
    <hr>


    <strong>Events</strong>
    {% for event in events %}
        <li>{{ event.start_time }} - {{ event.end_time }}</li>
    {% endfor %}

    <br>
    <a href="{% url 'add_event' client.client_slug  %}" class="btn btn-primary">Add event</a>






{% endblock %}