
<h1> This is the client portal</h1><br>
<p>Total number of notifications: {{ notification_sum }}</p>

<p> <strong>{{user.client.organization }}</strong><br>
    Contact: {{ user.client.user.get_full_name }}<br>
    {{ user.client.street }}<br>
    {{ user.client.city }}, {{ user.client.state }} <br>
    {{ user.client.phone_number }}<br><br>
    <i>Description</i><br>
    {{ user.client.description }}<br>
    <a href="{% url 'add_event' user.client.client_slug  %}" class="btn btn-primary">Add event</a>
    <hr>
</p>


    <h2>Pending Events</h2>
    {% for event in unconfirmed_events %}
        <p class="date-block">
            <strong>Start Time:</strong> {{ event.start_time }}<br>
            <strong>End Time:</strong> {{ event.end_time }}<br>
            On-call event: {{ event.is_on_call }}<br>
            Teacher: No teacher yet!<br>
            Comments: {{ event.comments }}<br>
            Primary Key: {{ event.pk }} <br>
            List Available Times: {{ event.times_available }}<br>
            List Emailed Time: {{ event.times_emailed }}<br>
            <a href="{% url 'edit_event' event.pk %}" class="btn btn-info">Edit Event</a>
            <a href="{% url 'select_teacher' event.pk %}" class='btn btn-success'>View Available Teachers   {% if event.times_available %}<span class="badge"> {{ event.times_available|length }} {% endif %}</span></a>
            <a href="{% url 'delete_event' event.pk %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this event?')">Delete Event</a> <br>
        </p>

    {% endfor %}


    <h2>Confirmed Events</h2>
    {% for event in current_events %}
        <p class="date-block">
            <strong>Start Time:</strong> {{ event.start_time }}<br>
            <strong>End Time:</strong> {{ event.end_time }}<br>
            On-call event: {{ event.is_on_call }}<br>
            Teacher: <a href="{% url 'get_teacher' event.teacher.slug %}">{{ event.teacher.user.get_full_name }}</a><br>
            Comments: {{ event.comments }}<br>
            Primary Key: {{ event.pk}} <br>
            <button class="btn btn-warning" data-toggle="tooltip" data-placement="right" title="If you need to change the event, please contact the teacher">Confirmed!</button> <br>
        </p>

    {% endfor %}

    <br>


