{% extends 'base.html' %}




{% block content %}

{#<div class="alert alert-success alert-dismissible" role="alert">#}
{#  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
{#  {{ message }}#}
{#</div>#}

{#This page will be the basis for the teacher, client, and admin dashboard#}

{#<h1>This is MyAccount.html</h1>#}


{% if is_teacher %}
    {% include 'teacher_account.html' %}
{% endif %}

{% if is_client %}
    {% include 'client_account.html' %}
{% endif %}

{% if is_superuser %}
    {% include 'manage.html' %}
{% endif %}



{#<p>print some info on the user</p>#}
{##}
{#<p>{{ user.get_full_name }}</p>#}
{##}
{#<p>Teacher: {{ is_teacher }}</p>#}
{##}
{#<p>Superuser: {{ is_superuser }}</p>#}

{% endblock %}




