{% extends 'base.html' %}

{% block content %}

    <h1>Register as a Teacher</h1>
    {% if registered %}
    <strong>Thank you for registering!</strong><a href="{% url 'myaccount' %}">View your profile here</a>
    {% else %}
        <strong>Register as a teacher with Extra Hands</strong>
        <form id="user_form" method="post" action="/register/teacher/">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ teacher_form.as_p }}
        <input type="submit" name="submit" value="Register" class="btn btn-primary"/>

        </form>
    {% endif %}




{% endblock %}