{% extends 'base.html' %}

{% block content %}


    <p> <strong>{{user.client.organization }}</strong><br>
    Contact: {{ user.client.user.get_full_name }}<br>
    {{ user.client.street }}<br>
    {{ user.client.city }}, {{ user.client.state }} <br>
    {{ user.client.phone_number }}<br><br>
    <i>Description</i><br>
    {{ user.client.description }}
    <hr>
    </p>

    <h3>Details of your event</h3>
    <p>
    Start Time: {{ event.start_time }} <br>
    End Time: {{ event.end_time }}

    </p>

    <p><strong>How This Works</strong></p>
    <p>
        Select as many teachers as you would like to invite to your event. If you have a specific teacher in mind, only check their box. All the teachers that you select will
    receive an email with a unique link to register for your event. The first teacher that clicks on their link will be assigned to your event. We will notify you as
    soon as that happens through email.
    </p>
    <p>
        If you have made any mistakes in setting up your event, it is not too late to go back and edit! After you email any of the teachers below, you will <strong>not</strong>
        not be able to delete this event!
    </p>
    {% if times %}
        {#url for teacher logic goes in here#}
        <form id="select_teacher_form" method="post" action="{% url 'email_teachers' event.pk  %}">
        {% csrf_token %}
        {% for time in times %}
            <div class="checkbox">
                    <input type="checkbox" id="{{ time.pk }}" value="{{ time.pk}}" name="times">
                    <p class="date-block">
                        Name: {{ time.teacher.user.get_full_name }}<br>
                        Start Time: {{ time.start_time }}<br>
                        End Time: {{ time.end_time }}<br>
                        <i>Qualifications</i><br>
                       ECT Qualified: {{ time.teacher.ect_qualified }} <br>
                       CPR & First Aid: {{ time.teacher.cpr_first_aid }} <br>
                       Universal Precautions: {{ time.teacher.universal_precautions }} <br>
                        Time PK: {{ time.pk }}
                    </p>
                </div>
        {% endfor %}
            <input type="submit" name="submit" id="teacher_submit" value="Email Teachers">
        </form>

    {% else %}
        <br>
        <p>Sorry, no teachers available at this time. Click here to let us know you've encountered this!</p>

    {% endif %}





{% endblock %}