{% extends 'base.html' %}

{% block content %}


    <div class="alert alert-info">This is your user info (for testing)</div>

    <p> <strong>{{user.client.organization }}</strong><br>
    Contact: {{ user.client.user.get_full_name }}<br>
    {{ user.client.street }}<br>
    {{ user.client.city }}, {{ user.client.state }} <br>
    {{ user.client.phone_number }}<br><br>
    <i>Description</i><br>
    {{ user.client.description }}
    <hr>
    </p>

    {% if times %}
        <form>
        {% for time in times %}
            <div class="checkbox">
                    <input type="checkbox" id="{{ time.teacher.token }}" value="{{ time.teacher.token }}">
                    <p class="date-block">
                        Name: {{ time.teacher.user.get_full_name }}<br>
                        Start Time: {{ time.start_time }}<br>
                        End Time: {{ time.end_time }}<br>
                        <i>Qualifications</i><br>
                       ECT Qualified: {{ time.teacher.ect_qualified }} <br>
                       CPR & First Aid: {{ time.teacher.cpr_first_aid }} <br>
                       Universal Precautions: {{ time.teacher.universal_precautions }} <br>
                    </p>
                </div>
        {% endfor %}
        </form>

    {% else %}
        <p>Sorry, no teachers available at this time. Click here to let us know you've encountered this!</p>

    {% endif %}





{% endblock %}