{% extends 'base.html' %}

{% block content %}


    <div class="alert alert-info">This is your user info (for testing)</div>

    <p> <strong>{{user.client.organization }}</strong><br>
    Contact: {{ user.client.user.get_full_name }}<br>
    {{ user.client.street }}<br>
    {{ user.client.city }}, {{ user.client.state }} <br>
    {{ user.client.phone_number }}<br><br>
    <i>Description</i><br>
    {{ user.client.description }}
    <hr>
    </p>

    {% for teacher in teachers %}
        {{ teacher.user.get_full_name }}

    {% endfor %}




{% endblock %}