
<h1> This is the teacher portal</h1><br>

<p>
    <strong>{{ user.user.get_full_name }}</strong><br>
    {{ user.teacher.street }}<br>
    {{ user.teacher.city }}, {{ user.teacher.state }} <br>
    {{ user.teacher.phone_number }}<br><br>
    <i>Qualifications</i><br>
    ECT Certified: {{ user.teacher.ect_qualified }}<br>
    CPR & First Aid: {{ user.teacher.cpr_first_aid }}<br>
    Universal Precautions: {{ user.teacher.universal_precautions }}<br><br>
    <i>Background</i><br>
    Education: {{ user.teacher.degree }}, {{ user.teacher.major }}<br>

    <hr>
</p>

<p>
    On call: {{ user.teacher.on_call }}<br>
    Available: {{ user.teacher.is_available }}
</p>
    {% if user.teacher.on_call %}
           <form method="post" action="/action/on-call/">
        {% csrf_token %}
        <button id="on-call" type="submit" class="btn btn-success">You're on Call!</button>
    </form>
    {% else %}
        <form method="post" action="/action/on-call/">
        {% csrf_token %}
        <button id="on-call" type="submit" class="btn btn-danger">Go On Call</button>
    </form>

    {% endif %}
    <br>

    <a href="{% url 'add_time' user.teacher.slug  %}" class="btn btn-warning">Add time</a>
<hr>
    <h2>My Scheduled Events</h2>
    {% for event in events %}
        <p class="date-block">
            <strong>Start Time:</strong> {{ event.start_time }}<br>
            <strong>End Time:</strong> {{ event.end_time }}<br>
            On-call event: {{ event.is_on_call }}<br>
            Comments: {{ event.comments }}<br>
            Token: {{ event.token }} <br>
        </p>

    {% endfor %}


<hr>
<h2>Times I am available</h2>
    {% for time in times %}
        <p class="date-block">
            <strong>Start Time:</strong> {{ time.start_time }}<br>
            <strong>End Time:</strong> {{ time.end_time }}<br>
            <strong>Primary key:</strong> {{ time.pk }}<br>
            <a href="{% url 'edit_time' time.pk %}" class="btn btn-info">Edit</a>
        </p>





    {% endfor %}






