{%  extends 'base.html' %}

{% block content %}

<a href="{% url 'myaccount' %}" class="btn btn-danger">Do not confirm! Cancel and Go Back to My Account</a><br><br>

<p>Please confirm your information:</p>
<p>
    <strong>{{ teacher.user.get_full_name }}</strong><br>
    {{ teacher.street }}<br>
    {{ teacher.city }}, {{ teacher.state }} <br>
    {{ teacher.phone_number }}<br><br>
</p>



<p>Please make sure the event information is correct</p>
    Start Time: {{ event.start_time }}<br>
    End Time: {{ event.end_time }}<br>
    Description: {{ event.description }}
    <strong>{{ event.client.organization }}</strong><br>
    Contact: {{ event.client.user.get_full_name }}<br>
    {{ event.client.street }}<br>
    {{ event.client.city }}, {{ client.state }} <br>
    {{ event.client.phone_number }}<br>
</p>


    <form class="form-inline" id="confirm-form" method="post" action="{% url 'final_teacher_confirm' event.token teacher.token %}" onsubmit="return confirm('Clicking OK will officially assign you to this event! You will responsible for attending and it is your responsibility to let the client know if you cannot');">
    {% csrf_token %}
    <input type="submit" name="submit" id="teacher_submit" value="Confirm!" class="btn btn-success">

</form>


{% endblock %}