
<h1> This is the teacher portal</h1><br>

<p>
    <strong>{{ user.user.get_full_name }}</strong><br>
    {{ user.teacher.street }}<br>
    {{ user.teacher.city }}, {{ user.teacher.state }} <br>
    {{ user.teacher.phone_number }}<br><br>
    <i>Qualifications</i><br>
    ECT Certified: {{ user.teacher.ect_qualified }}<br>
    CPR & First Aid: {{ user.teacher.cpr_first_aid }}<br>
    Universal Precautions: {{ user.teacher.universal_precautions }}<br><br>
    <i>Background</i><br>
    Education: {{ user.teacher.degree }}, {{ user.teacher.major }}<br>

    <hr>
</p>

