<h3>Teacher Portal</h3>

    <div class="row mtbox">
        <div class="col-md-3 box0">
                <div class="box1">
                    <span class="glyphicon glyphicon-calendar" style="color:#00c5de"></span>
                    <h3>{{ events.count }}</h3>
                </div>
                <p>You have {{ events.count }} {% if events.count == 1 %}event{% else %}events{% endif %}</p>

        </div>
        <div class="col-md-3 box0">
            <div class="box1">
                <span class="glyphicon glyphicon-time" style="color:paleturquoise"></span>
                <h3>{{ times.count }}</h3>
            </div>
            <p>You have {{ times.count }} {% if times.count == 1 %}time{% else %}times{% endif %} scheduled</p>
        </div>
      <div class="col-md-3 box0">
            <div class="box1">
                {% if user.teacher.on_call %}
                    <span class="glyphicon glyphicon-ok-circle" style="color:darkgreen"></span>
                    <h3>You're on call!</h3>
                {% else %}
                    <span class="glyphicon glyphicon-remove-circle" style="color:darkred"></span>
                    <h3>You're <i>not</i> on call!</h3>
                {% endif %}
            </div>
        {% if user.teacher.on_call %}
        <p>You will be shown in all current searches. Nice work.</p>
        {% else %}
        <p>Try going on call to increase your chances of picking up an event.</p>
        {% endif %}
        </div>
        <div class="col-md-3 box0">
            <div class="box1">
                <span class="glyphicon glyphicon-hand-up" style="color:slateblue"></span>
                <h3>{{ user.teacher.clicks }}</h3>
            </div>
            <p>You have clicked on {{ user.teacher.clicks }} {% if user.teacher.clicks == 1 %}event{% else %}events{% endif %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
                <a href="#events" class="btn btn-block btn-theme02">View All Events</a>
        </div>
        <div class="col-md-3">
                <a href="{% url 'add_time' user.teacher.slug  %}" class="btn btn-primary btn-theme03 btn-block">Add time</a>
        </div>
        <div class="col-md-3">
            {% if user.teacher.on_call %}
                   <form method="post" action="{% url "go_on_call" %}">
                        {% csrf_token %}
                        <button id="on-call" type="submit" class="btn btn-success btn-block">Click to go off-call</button>
                    </form>
            {% else %}
                <form method="post" action="{% url "go_on_call" %}">
                    {% csrf_token %}
                    <button id="on-call" type="submit" class="btn btn-danger btn-block">Click to go on-call</button>
                </form>
            {% endif %}
        </div>
    </div>


<div class="row">
    <div class="col-md-6">
        <p>
            <strong>{{ user.user.get_full_name }}</strong><br>
            {{ user.teacher.street }}<br>
            {{ user.teacher.city }}, {{ user.teacher.state }} <br>
            {{ user.teacher.phone_number }}<br><br>
            <i>Qualifications</i><br>
            ECT Certified: {{ user.teacher.ect_qualified }}<br>
            CPR & First Aid: {{ user.teacher.cpr_first_aid }}<br>
            Universal Precautions: {{ user.teacher.universal_precautions }}<br><br>
            <i>Background</i><br>
            Education: {{ user.teacher.degree }}, {{ user.teacher.major }}<br>

            <hr>
        </p>

        <p>

          </p>

        <p>
            On call: {{ user.teacher.on_call }}<br>
            Available: {{ user.teacher.is_available }}
        </p>

            <br>

            <a href="{% url 'add_time' user.teacher.slug  %}" class="btn btn-warning">Add time</a>
    </div>
    <div class="col-md-6">
        <p><br>
            <strong>Regular Rate: </strong> {{ user.teacher.regular_rate }}<br>
            <strong>Extra Rate: </strong> {{ user.teacher.extra_rate }}
        </p>
        <form method="post" action="{% url 'change_time' user.teacher.pk %}">
            {% csrf_token %}
            <label>Time between events (hours)</label>
            <input id="timeBetweenEventsInput" type="text" name="hours" placeholder="{{ user.teacher.time_between_events }}" class="form-control" disabled="disabled"><br>
            <button class="btn btn-warning" id="editTeacherTimeDifference">Edit</button>  <input type="submit" name="Submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
</div>

<hr>
    <h2>My Scheduled Events</h2>
    {% for event in events %}
        <p class="date-block">
            <strong>Start Time:</strong> {{ event.start_time }}<br>
            <strong>End Time:</strong> {{ event.end_time }}<br>
            On-call event: {{ event.is_on_call }}<br>
            Comments: {{ event.comments }}<br>
            Primary Key: {{ event.pk }} <br>
        </p>

    {% endfor %}


<hr>
<h2>Times I am available</h2>
    {% for time in times %}
        <p class="date-block">
            <strong>Start Time:</strong> {{ time.start_time }}<br>
            <strong>End Time:</strong> {{ time.end_time }}<br>
            <strong>Primary key:</strong> {{ time.pk }}<br>
            <strong>Active</strong>: {{ time.active }}<br>
            <a href="{% url 'edit_time' time.pk %}" class="btn btn-info">Edit</a>  <a href="{% url 'delete_time' time.pk %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this scheduled time?')">Delete</a>
        </p>





    {% endfor %}






